{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="page product-page" style="height:750px;">
    <section class="clean-block clean-product dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" style="height:60px;">&nbsp;</h2>
            </div>
            <div class="block-content">
                <div class="product-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="gallery">
                                <div class="sp-wrap">
                                    <h1 class="text-info">{{item.name}}</h1><img class="img-fluid d-block mr-auto"
                                        src="/{{item.image_url}}" style="width:200px;height:200px;"><a id="{{item.id}}"
                                        href="#" class="btn btn-primary ml-auto addToCartBtn" type="button"
                                        style="border-radius:20px;background-color:rgba(196,196,196,0.49);color:rgb(0,0,0);margin:14px;" onclick="">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <h2>IDR {{item.price}}</h2>
                                <div class="summary">
                                    <h3>Product Description</h3>
                                    <p>{{item.description}}</p>
                                </div>
                                <div class="rating">
                                    {% include 'ulasan.html' with url=review_url %}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $( ".addToCartBtn" ).click(function() {
        $.ajax({
            type: 'post',
            url: '/api/cart/add',
            contentType: 'application/json',
            data: JSON.stringify({ "item_id": event.toElement.id }),
            success: function(result) {
                Swal.fire({
                    icon: 'success',
                    title: 'SUCCESS',
                    text: 'Berhasil menambah item ke cart!'
                });
            }
        })
      });
</script>

{% endblock %}