{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="team-grid">
    <h1 style="margin:33px;height:-0px;">Best Seller</h1>
    <div class="container">
        <div class="row people">
            {% for item in items %}
            <div class="col-md-4 col-lg-3 item">
                <a href="/item/{{item.id}}">
                    <div class="box" style="background-image:url({{item.image_url}})">
                        <div class="cover">
                            <h3 class="name">{{item.name}}</h3>
                            <p class="title">IDR {{item.price}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}