{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'bootstrap.min.js' %}">
<link rel="stylesheet" href="{% static 'kupon_css.css' %}">


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'kupon40.jpg' %}" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'free30.jpg' %}" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'kupon3.jpg' %}" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br>

<div id="header">
    <h1><i>COUPON</i></h1>
</div>
<div id="tempat search">
    <div class="container">
    <form class="example" action="" method="GET" style="text-align: center; " >
        <input type="text" placeholder="Search coupon..." name="search" style="border-radius: 30px">
        <button type="submit" style="color: red"><i class="fa fa-search"></i></button>
    </form>
    </div>
</div>
<br>
<div>
    <div class="col" id="tulisan">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Coupon Name</th>
                <th scope="col">Discount</th>
                <th scope="col">Minimum Purchase</th>
                <th scope="col">Expired Date</th>
            </tr>
            </thead>
            <br>
            <tbody>
            {% for kupon2 in data_kupon %}
            <tr>
                <th scope="row">{{kupon2.kode}}</th>
                <th scope="row">{{kupon2.persen}}%</th>
                <th scope="row">Rp {{kupon2.min}}</th>
                <th scope="row">{{kupon2.exp}}</th>
            </tr>
            {% endfor %}
            {% for kupon in searched %}

            <tr>
                <th scope="row">{{kupon.kode}}</th>
                <th scope="row">{{kupon.persen}}%</th>
                <th scope="row">Rp {{kupon.min}}</th>
                <th scope="row">{{kupon.exp}}</th>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}
