{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body{
    margin: 1em;
    }
    #result-container{
    background-color: rgba(247,247,247, 0.8);
    width: 150px;
    padding: 5px;
    }
    #form_kupon{
    width: 150px;
    height: 2em;
}
</style>

<script>const cari = "{% url 'Kupon:cari' %}"</script>

<div id="suggestion">
    use coupon!
</div>

<div id="coupon">
    <input id="form_kupon" placeholder="apply coupon here"> <button class="delete" onclick="del()">delete</button>
    <div id="result-container">
        {% for i in kupon %}
        <div class = "coupon-result" id="kupon_pilih" onclick="pilih('{{i.kode}}', {{i.persen}}, {{i.min}})">

        </div>
        {% endfor %}
    </div>
</div>
<div id="total">
</div>

<script>
    var div = document.getElementById("result-container");
    var harga = $('#price').val();
    $(document).ready(function() {
    div.style.display = 'none';
    $('#form_kupon').click(function(){
        div.style.display = '';
    })

    $("#form_kupon").keyup(function(){
        var q = $('#form_kupon').val();
        q = q.toUpperCase();
        $.ajax({
            url: cari,
            dataType: "json",
            success: function(data_kupon){
                        div.style.display = '';
                        $("#result").html('');
                        var kup = '';
                        var x = data_kupon.data_kupon;
                        for (var i = 0; i < x.length; i++){
                            if (x[i].min <= parseInt(harga)){
                                $('#suggestion').html("our suggestion: " + x[i].kode);
                             }
                            if ((x[i].kode).includes(q)|| parseInt(q)<= parseInt(x[i].persen)){
                                kup += "<p onclick=pilih('" + x[i].kode + "'," + x[i].persen + ","+ x[i].min +  ")>"+ x[i].kode +"</p>"
                            }
                        }
                        $('#result-container').html(kup);
                        $(":not(#form_kupon)").click(function(){
                            div.style.display = 'none';
                        });

            }

    })
})
})
var price = parseInt(harga);

var total = price;
    function pilih(kode, persen, min){
        div.style.display = 'none';
        var i;
        var pilihan = kode;
        var persen = parseInt(persen);
        var min = parseInt(min);
        if (price >= min){
            total = price - (persen / 100 * price);
            $('#total').html(total);
            $('#form_kupon').val(pilihan);
            $("#form_kupon").prop('disabled', true);
        }
        else{
            alert("Coupon cannot be used for this price")
        }
}

function del(){
    $("#form_kupon").prop('disabled', false);
    $('#form_kupon').val('');
    total = price;
    $('#total').html(total);
}

</script>
{% endblock %}