{% load static %}
<div class="rating">
	<h4>Customer Review</h4>
	<br>
	{% if reviews|length == 0 %}
	<p>Tidak ada ulasan produk.</p>
	{% endif %}

	<div class="container review-container overflow-auto" style="height: 170px; overflow-y:scroll;">
		{% for review in reviews %}
		<p><b><em>&nbsp;Rated {{review.bintang}}/5</em></b></p>
		<p style='height:8px;'>'{{review.pesan}}'<br></p>
		<p><em>&nbsp;— {{review.nama_pengulas}}</em><br></p>
		<p><em>&nbsp;created on {{review.tanggal}}</em><br></p>
		{% if review.can_delete %}
		<button onclick="ajax_delete(this.id)" id='{{review.id}}'>Delete</button>
		{% endif %}
		{% endfor %}

	</div>
</div>
<div class="price">
	{% if user.is_authenticated %}
	<div class="form-group" style="height:70px;">
		<label class="m-auto" for="message">
			<strong>Make Review</strong>
		</label>
		<p>Bintang: </p><input type="number" id="bintang" name="bintang">
		<p>Pesan: </p><input type="text" id="pesan" name="pesan">
		<br>
		<button class="btn btn-primary ml-auto" type="button" onclick="add_ajax()"
			style="border-radius:20px;background-color:rgba(196,196,196,0.49);color:rgb(0,0,0);margin:14px;">Input</button>
	</div>
	{% endif %}
</div>

<script>
	function add_ajax() {
		$.ajax({
			type: "POST",
			dataType: "json",
			url: "/api/review",
			data: JSON.stringify({
				"bintang": $('input[name="bintang"]').val(),
				"pesan": $('input[name="pesan"]').val(),
				"barang_id": {{ item.id }}
			}),
			success: function(data, textStatus, jqXHR) {
				$(".review-container").empty();
				$.ajax({
					type: "GET",
					url: "/api/review/" + {{item.id}},
					success: function (data, textStatus, jqXHR) {
						for (var i = 0; i < data['data'].length; i++) {
							$(".review-container").append("<p><b><em>&nbsp;Rated " + data['data'][i]['bintang'] + "/5</em></b></p>")
							$(".review-container").append("<p style='height:8px;'>" + data['data'][i]['pesan'] + "<br></p>")
							$(".review-container").append("<p><em>&nbsp;— " + data['data'][i]['nama_pengulas'] + "</em><br></p>")
							$(".review-container").append("<p><em>&nbsp;created on " + data['data'][i]['tanggal'] + "</em><br></p>")
							if (data['data'][i]['can_delete'] == true) {
								$(".review-container").append("<button onclick='ajax_delete(this.id)' id='" + data['data'][i]['review_id'] + "'>Delete</button>")
							}
						}
					}
				})
			}
		});
	}

	function ajax_delete(clicked_id) {
		$(".review-container").empty();
		$.ajax({
			type: "POST",
			url: "/api/delete_review/" + clicked_id,
			success:function(data, textStatus, jqXHR) {
				$(".review-container").empty();
				$.ajax({
					type: "GET",
					url: "/api/review/" + {{item.id}},
					success: function (data, textStatus, jqXHR) {
						for (var i = 0; i < data['data'].length; i++) {
							$(".review-container").append("<p><b><em>&nbsp;Rated " + data['data'][i]['bintang'] + "/5</em></b></p>")
							$(".review-container").append("<p style='height:8px;'>" + data['data'][i]['pesan'] + "<br></p>")
							$(".review-container").append("<p><em>&nbsp;— " + data['data'][i]['nama_pengulas'] + "</em><br></p>")
							$(".review-container").append("<p><em>&nbsp;created on " + data['data'][i]['tanggal'] + "</em><br></p>")
							$(".review-container").append("<button onclick='ajax_delete(this.id)' id='" + data['data'][i]['review_id'] + "'>Delete</button>")
						}
					}
				})
			}
		});
	}
</script>