{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="title">Log In</h1>
<form action="" method="POST">
    {% csrf_token %}
    <p>Username: </p><input type="text" name="username">
    <p>Password: </p><input type="password" name="password">
    <button class="submit" type="submit">Login</button>
</form>
<p>Don't have an account?</p> <a href="/login/signup">Sign Up</a>
{% endblock %}
