{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %} <title> </title>{% endblock %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'Team-Grid.css' %}">
    {% block style %} {% endblock %}

</head>

<body>
    {% include 'navbar.html' %}
    {% block content %}


    {% endblock %}
    <div class="footer-dark" style="height:250px;">
        <footer>
            <div class="container">
                <div class="row" style="height:137px;">
                    <div class="col">
                        <h3>Lorem Ipsum</h3>
                        <p>"Neither is there anyone who loves, pursues or desires pain itself because it is pain"</p>
                    </div>
                    <div class="col">
                        <h3>Customer Service</h3>
                        <ul>
                            <li>Whatsapp: 081386068112</li>
                            <li>LINE: @LoremIpsum</li>
                            <li>email: LoremIpsum@Shop.com</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Effective Online Service</h3>
                        <ul>
                            <li>Monday - Sunday</li>
                            <li>12:00 - 18:00</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li><img src="{% static 'logo2.png' %}"
                                    style="height: 70px; width: 140px;padding-left: 2em;"></li>
                        </ul>
                    </div>
                </div>
                <p class="copyright">Lorem Ipsum © 2020</p>
            </div>
        </footer>
    </div>


</body>
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        icon: '{{message.tags}}',
        title: '{{message.tags}}'.toUpperCase(),
        text: '{{message}}'
    })
</script>
{% endfor %}
{% endif %}

</html>