{% load static %}
<!DOCTYPE html>
<html lang="en">

<body>
    <nav class="navbar navbar-light navbar-expand-md d-flex navigation-clean-search"
        style="background-color:rgb(0,0,0);">
        <div class="container"><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"
                style="background-color:#e3e3e3;"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse d-flex" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li><a href="/"><img src="{% static 'logo2.png' %}" style="height: 50px; width: 100px"></a>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" href="#" style="color:rgb(255,255,255);">Categories</a>
                        <div class="dropdown-menu" role="menu">
                            {% for category in categories %}
                            <a class="dropdown-item" role="presentation"
                                href="/category/{{category.name}}">{{category.name}}</a>
                            {% endfor %}
                        </div>
                    </li>
                    </li>
                    <li class="dropdown"><a href="/coupon" class="dropdown-toggle nav-link dropdown-toggle"
                            aria-expanded="false" style="color:rgb(255,255,255);">Coupons</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="dropdown"><a href="" class="nav-link" aria-expanded="false"
                            style="color:rgb(255,255,255);" data-toggle="modal" data-target="#cartModal">Cart</a>
                    </li>
                    <li class="dropdown"><a href="" class="nav-link" aria-expanded="false"
                        style="color:rgb(255,255,255);" data-toggle="modal" data-target="#historyModal">History</a>
                    </li>
                    {% endif %}
                </ul>
                <form class="form-inline flex-fill ml-auto" method="GET" action="/search"
                    style="background-color:#ffffff;border-radius:20px;width:200px;">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"
                                style="color:rgb(84,74,74);margin:17px;"></i></label><input
                            class="form-control search-field" type="search" name="q" id="q"></div>
                </form>
                <ul class="nav navbar-nav">
                    <li>
                        {% load socialaccount %}
                        {% if user.is_authenticated %}
                        <p style="color:rgb(255,255,255);"> Welcome, {{ user.username }} !</p>
                        <a href="/login/logout" style="color:rgb(255,255,255);">Log Out</a>
                        {% else %}
                        <a href="/login/log" style="color:rgb(255,255,255);">Log In</a>
                        <a href="{% provider_login_url 'google' %}">with Google</a>
                        {% endif %}
                    </li>
                </ul>
</body>
</div>
</div>
</nav>

<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Shopping Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <table class="table table-hover" id="cart-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/checkout" class="btn btn-primary">Checkout</a>
            </div>
        </div>
    </div>
</div>

<!-- History Modal -->
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historyModalLabel">Sejarah Transaksi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <table class="table table-hover" id="history-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Items</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script src="{% static 'jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#cartModal').on('shown.bs.modal', function () {
            $.ajax({
                url: '/api/cart',
                success: function (result) {
                    result.data.forEach(function (item) {
                        $('#cart-table tbody').append('<tr><th><img style="width:80px;height:80px"src="/' + item.image_url + '"></img></th><th>' + item.name + '</th><th>' + item.price + '</th><th><button class="btn btn-primary" onclick="deleteCart(this)" id="'+ item.id +'">Delete</button></th></tr>');
                    })
                }
            })
        })

        $("#cartModal").on('hidden.bs.modal', function () {
            $('#cart-table tbody').empty();
        });
    });

    function deleteCart(e) {
        $.ajax({
            type: 'post',
            url: '/api/cart/' + e.id + '/delete',
            contentType: 'application/json',
            processData: false,
            success: function (result) {
                Swal.fire({
                    icon: 'success',
                    title: 'SUCCESS',
                    text: 'Berhasil menghapus item dari cart!'
                });
                $("#cartModal").modal('hide');
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        $('#historyModal').on('shown.bs.modal', function () {
            $.ajax({
                url: '/api/transactions',
                success: function (result) {
                    result.data.forEach(function (item) {
                        var trxSummary = ''
                        item.items.forEach(function(a, index) {
                            trxSummary += a.name
                            trxSummary += ': '
                            trxSummary += a.qty
                            trxSummary += '<br>'
                        })

                        $('#history-table tbody').append('<tr><th>'+ item.trxId +'</th><th>'+ trxSummary +'</th></tr>');
                    })
                }
            })
        })

        $("#historyModal").on('hidden.bs.modal', function () {
            $('#history-table tbody').empty();
        });
    });

    function deleteCart(e) {
        $.ajax({
            type: 'post',
            url: '/api/cart/' + e.id + '/delete',
            contentType: 'application/json',
            processData: false,
            success: function (result) {
                Swal.fire({
                    icon: 'success',
                    title: 'SUCCESS',
                    text: 'Berhasil menghapus item dari cart!'
                });
                $("#cartModal").modal('hide');
            }
        });
    }
</script>

</html>