{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

{% block content %}

<style>
    #result-container{
    background-color: rgba(247,247,247, 0.8);
    width: 150px;
    padding: 5px;
    }
    #form_kupon{
    width: 150px;
    height: 2em;
}
</style>
<script>const cari = "{% url 'cari' %}"</script>


<main class="page product-page" style="height:650px;">
    <section class="clean-block clean-product dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" style="margin:15px;">My Item</h2>
            </div>
            <div class="block-content">
                <div class="product-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="gallery">
                                <div class="container">
                                    <table class="table table-hover" id="cart-checkout">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Item</th>
                                                <th>Price</th>
                                                <th>Qty</th>
                                                <th style="display:none;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in items%}
                                            <tr>
                                                <th><img style="height: 40px; width:40px" src="{{item.item.image_url}}" alt=""></th>
                                                <th>{{item.item.name}}</th>
                                                <th>{{item.item.price}}</th>
                                                <th><input type="number"></th>
                                                <th style="display:none;">{{item.item.id}}</th>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <div class="row">
                                    <div class="col">
                                        <h2 style="height:62px;">Price</h2>
                                    </div>
                                    <div class="col">
                                        <h2 class="text-rigtht" id='harga_barang' style="height:62px;">{{subtotal}}</h2>
                                    </div>
                                </div>

                                <div>

                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="price">
                                            <h3 style="height:61px;">Coupons</h3>

                                            <div id="suggestion">
                                                use coupon!
                                            </div>

                                            <div id="coupon">
                                                <input id="form_kupon" placeholder="apply coupon here"><button class="delete" onclick="del()">delete</button>
                                                <div id="result-container">
                                                    <div class = "coupon-result" id="kupon_pilih" onclick="pilih('{{i.kode}}', {{i.persen}}, {{i.min}})">

                                                    </div>
                                                </div>
                                            </div>
                                            <div id="total">
                                            </div>

                                        </div>

                                        <br>
                                    </form>
                                    <button class="btn btn-primary" onclick="checkout(this)">Buy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</main>

<script>
    var div = document.getElementById("result-container");
    var harga = $('#harga_barang').text();
    console.log(harga);
    $(document).ready(function() {


    $("#form_kupon").keyup(function(){
        var q = $('#form_kupon').val();
        q = q.toUpperCase();
        $.ajax({
            url: cari,
            dataType: "json",
            success: function(data_kupon){
                        div.style.display = '';
                        $("#result").html('');
                        var kup = '';
                        var x = data_kupon.data_kupon;
                        console.log(harga);
                        for (var i = 0; i < x.length; i++){
                            if (x[i].min <= parseInt(harga)){
                                $('#suggestion').html("our suggestion: " + x[i].kode);
                             }
                            if ((x[i].kode).includes(q)|| parseInt(q)<= parseInt(x[i].persen)){
                                kup += "<p onclick=pilih('" + x[i].kode + "'," + x[i].persen + ","+ x[i].min +  ")>"+ x[i].kode +"</p>"
                            }
                        }
                        $('#result-container').html(kup);
                        $(":not(#form_kupon)").click(function(){
                            div.style.display = 'none';
                        });

            }

    })
})
})
var price = parseInt(harga);

var total = price;
    function pilih(kode, persen, min){
        div.style.display = 'none';
        var i;
        var pilihan = kode;
        var persen = parseInt(persen);
        var min = parseInt(min);
        if (price >= min){
            total = price - (persen / 100 * price);
            $('#harga_barang').text(total);
            $('#form_kupon').val(pilihan);
            $("#form_kupon").prop('disabled', true);
        }
        else{
            alert("Coupon cannot be used for this price")
        }
}

function del(){
    $("#form_kupon").prop('disabled', false);
    $('#form_kupon').empty();
    total = price;
    $('#harga_barang').text(total);
}

</script>


<script>
    function checkout(e) {
        var items = []
        $("#cart-checkout tbody tr").each(function() {
            var obj = new Object()
            items.push({"item_id": $(this).find('th:eq(4)').text(), "quantity":  $(this).find('th:eq(3) input').val()})
        })
    
        $.ajax({
            type: 'post',
            url: '/api/checkout',
            contentType: 'application/json',
            data: JSON.stringify({ "coupon": $('#form_kupon').val(), "items": items }),
            success: function(result) {
                Swal.fire({
                    icon: 'success',
                    title: 'SUCCESS',
                    text: 'Transaksi berhasil!'
                });
        
                window.location.href = "/";
            }
        })
    }
</script>
{%endblock content%}


</html>